* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
}
html {
  height: 100%;
}
a{
  text-decoration: none;
  color: white;
  
}
.chosebtn{
  cursor: pointer;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: cursive;
  background-color: #e0edff;
 

}

/* NAvbar */
.Navmenu{
  padding:6px;
  }
.Navmenu:hover{
background-color: orange;
padding:6px;
border-radius:3px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 85px;
  background-color:black;
  align-items: center;
  color: white;
  position: fixed;
    z-index: 2;
    width: 100%;
}
.avtar{
  margin-top:-8px;
}
.brand h1 {
  margin: 0;
}

.drawer {
  display: flex;
  column-gap: 28px;
  list-style: none;
  align-items: center;
 
}

.drawer li a {
  text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.mobile-support {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar{
    height: 135px;
  }
 
  .Navmenu{
    background-color: orange;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    }
  .drawer {
    margin-top: 72px;
    background-color: black;
    height: 100vh;
    width: 100%;
    row-gap: 18px;
    /* padding-left: 90px; */
    position: absolute;
    top: 70px;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    left: -100%;
    
    padding-top: 60px;
    transition: left .3s ease;
    z-index: 4;
    overflow: hidden;
    transition: .3s;
}
  .drawer li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  .drawer.open {
    left: 0;
  }
  
  .mobile-support {
    display: block;
  }
  .hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  .text-content{
    padding: 0 !important;
  }
  .img_box, .img_box img {
    max-width: 100%;
    height: auto !important;
  }
  .hero-title {
    font-size: 2rem !important;
    margin-bottom: 20px;
  }
  .blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding:0 !important;
}
  
}
.dropbtn {
  background-color:black;
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.heading_title h3 {
  float: right;
  margin-right: 63px;
  margin-top: -29px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #000;width: 100%;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #000;color: #ddd;} */

/* Start Footer  */


.footer {
  background-color: #000;
    color: #fff;
    padding-bottom: 24px;
    width: 100%;
    margin-top: auto;
}
.footer_section {
  padding: 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 12px;
  
}
.footer_list {
  width:320px;
  
}
.FOOTNAME {
  text-align: center;
  font-size: medium;
  font-weight: 400;
}
.footer_list ul li a {
color: white;
list-style: none;
text-decoration: none;
}
.footer_list ul li {
  list-style: none;
}

/* ------------------------Start Banner---------------------------------------------- */

.banner {
  height:100vh;
    width: 100%;
    background-image: url("/banner.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_box {
  background: white;
  width: 100%;
  opacity: 0.8;
  padding: 34px;
  display: flex;
  flex-direction: column;
}

.banner_box h1 {
  font-size: 34px;
  margin: 17px 0px 22px 24px;
  text-align: center;
}

.banner_box h6 {
  font-size: 18px;
  padding: 0 0 0 23px;
  text-align: center;
  /* CONTAIN-INTRINSIC-BLOCK-SIZE: 0; */
}

.banner_button {
  padding: 19px 0 0 22px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.banner_button button {
  width: 200px;
  height: 40px;
}

.banner_button button a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}


/* ------------------ CHoose-------------------------------------------------------------------- */


.choose_field {
  background: black;
  padding: 12px;
  margin: 15px;
}

.choose_field h1 {
  color: white;
  text-align: center;
  margin: 8px 0 6px 0px;
}

.choose_center {background:black;margin: 12px;padding: 12px;display: flex;justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 24px;
}

.left_side {
  background:white;
  padding: 16px;
  color: black;
  width: 434px;
  text-align: center;

  
}

span.larage {
  font-size: 28px;
  margin: 11px 0 0 0;
}

span.meduim {
  font-size: 21px;
  margin: 6px 0 0 0;
}

span.small {
  font-size: 14px;
  color: #e07c20;
}

.left_side button {
  width: 139px;
  height: 36px;
  margin: 15px 0 18px 0;
  background:black;
  color: white;
  border: none;
}

/* ------------------------------------------------------------------------------- */

.about {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 10px;
}
.secondabout{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 10px;
}

.about_box {
  width: 550px;
  margin: 10px;
}
.box_pack h1 {
  margin: 10px 0 14px 0;
  color:black;
}
.box_pack span{
  color: #66686b;
}

.box_pack_action {
  display: flex;
  justify-content: center;
  column-gap: 34px;
  row-gap: 34px;
  margin-top: 42px;
}

.box_pack_action button {
  width: 150px;
  background: black;
  height: 40px;
  color: white;
  font-size: 18px;
  font-family: cursive;
  border: none;
}

.box_pack_sp {
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {

.about {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
  
}
.secondabout{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}

}
/* ------------------------------------------------------------------------------------------- */

/* start Contact */


.wrr {
  width: 85%;
  margin: 34px 0 222px 0px;
  background: #fff;
  height: 450px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrr .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eer{
  display: flex;
  justify-content: center;
  background: #E0EDFF;
}
.wrr .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.wrr .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin: 10px 0 10px 0px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: 1px solid #E7E8EB;
  font-size: 16px;
  outline:none;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .input-box input,.right-side .input-box textarea::placeholder {
 
  font-family: cursive;
}

.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side .button{
  display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
    justify-content: center;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.button input[type="button"]:hover{
  background: black;
  color: white;
}
@media (max-width: 950px) {
  .wrr{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .wrr .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .wrr{
    margin: 40px 0;
    height: 100%;
  }
  .wrr .content{
    flex-direction: column-reverse;
  }
 .wrr .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .wrr .content .left-side::before{
   display: none;
 }
 .wrr .content .right-side{
   width: 100%;
   margin-left: 0;
 }

 .right-side .button{
  display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
    justify-content: center;
}

}

/* inqury */
@media only screen and (max-width: 600px) {
  .pp{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 33px;
}

}


/* ----------------------------------------------------------------------------------- */
/* start Client */



  .client {
    text-align: center;
    padding: 24px;
    margin-top: 24px;

}

.client h1 {
  margin: 18px 0 17px 0px;
}

.client span {
  font-size: 21px;
  font-family: cursive;
  margin: 6px 10px 0;
}

.clients_container {
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 18px 0 18px;
}
.client-card img {
  width:299px;
}
.client-card{
  margin: 12px 0 12px;
}

/* --------------------------------------------------------------------------------------- */

/* blog start */

.blog-section {
  text-align: center;
  font-family: cursive;;
}

.container {
  padding: 40px 0;
}

.blog-list {
  display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    padding: 60px;
}

.blog-item {
  flex-grow: 0;
  width: 290px;
  border: 2px dotted black;
  border-radius: 8px;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  height: auto;
  height: 200px;
  padding: 5px;
  background-color:grey;
}
.img_box {
  max-width: 100%;
  height:600px;
  overflow: hidden;
}

.img_box img {
  width: auto;
  height:600px;
  max-height:600px;
  max-width: 100%;
}

.blog-content {
  padding: 20px;
}

.user {
  width: 40px;
  background: white;
  color: black;
  height: 40px;
  border-radius: 50%;
  border: 1px solid;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.blog-category {
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.blog-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}

.blog-description {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}
.text-content {
  padding: 0px 94px 0 103px;
}
.blog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.learn-more {
  color: #3f51b5;
  font-weight: 500;
  text-decoration: none;
}

.learn-more-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

.likes,
.comments {
  margin-right: 10px;
  color: #999;
  font-size: 14px;
}

.heading_title_contact{
  text-align: center;
  padding: 24px;
  background: #E0EDFF;
  font-family: cursive;
}

.heading_title {
  text-align: center;
  padding: 24px;
  
}
.heading_title h1 {
  font-size: 42px;
  font-family: cursive;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.hero-image {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.primary-button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-family: cursive;
  margin-right: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* start resume css */


.pricing-section {
  padding: 50px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.section-description {
  color: #666;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.monthly-button {
  background-color: #4F46E5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.annually-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #4F46E5;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 34px;
  padding: 24px;

}

.card-content img {
  width: 300px;
  height: 380px 
}

.pricing-card {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 30px;
}
.card_center{
  display: flex;
  justify-content: center;
  margin: 18px;
  column-gap: 12px 
}
.card-content {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  position: relative;

}



.card-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-price {
  font-size: 2.5rem;
  color: #333;
  display: flex;
  align-items: center;
}

.card-price-unit {
  font-size: 1rem;
  color: #666;
  margin-left: 5px;
}
.tox:not([dir=rtl]) .tox-statusbar__branding {
  margin-left: 2ch;
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.card-feature {
  color: #666;
  margin-bottom: 10px;
}

a.card-button {
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  .dropdown-content .card a {
    text-decoration: none;
    color: #222f3e;
    font-size: 18px;
    font-weight: 600;
}}
.card-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  align-items: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* start signup */

/* styles.css */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0EDFF;
  height: 100vh;
}

.logo {
  width: auto;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.title {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.input-container input {
  border: 1px solid #e7e8eb;
  padding: 8px;

}
.form-container {
  width: 420px;
  background: white;
  margin: 58px;
  padding: 24px;
  border-radius: 12px;
}
.form-group {
  margin-bottom: 1.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #374151;
}

.input-container {
  margin-top: 0.5rem;
}
.input:focus{
  outline: 1px solid #4338ca;
}

.input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #374151;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_head h2 {
  text-align: center;
  margin: 18px;
  font-family: cursive;
  font-size: 20px;
}
.password-text {
  font-size: 0.875rem;
  float: right;
}

.forgot-password {
  font-weight: 600;
  color: #4f46e5;
}

.submit-button {
  width: 100%;
  padding: 12px !important;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: black;
  border-radius: 0.375rem;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4338ca;
}

.register-text {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
  cursor: pointer;
}

.register-link {
  font-weight: 600;
  color: #4f46e5;
  text-align: center;
}

.register-link:hover {
  color: #4338ca;
  text-align: center;
}


/* ----------------------------------------------------------------------------------------------------------------------- */

/* Blog Upload */

.blog-container {
  width: 100%;
    margin: 0 auto;
    padding: 24px 46px 24px 46px;
}

.form-group-full {
  display: flex;
  width: 100%;
  margin: auto;
  column-gap: 24px;
  padding: 24px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.file-input {
  width: 100%;
  padding: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f45d01;
}
/* /-------------------------------------------------------------------------------- */
/* inqurry page css */
.pp{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  height:400px;
}
.as{
  background-color: white;
  text-align: center;
  padding: 15px;
  border-radius: 13px;
  text-decoration: none;
  color: black;
  transition: transform .2s;
}
.as:hover{
  transform: scale(1.3);
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: orange;
}

.formm{
  margin:50px;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  width: 400px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.rr{
  display: flex;
  justify-content: center;
  background-color: #e0edff;
}

/* ------------------------------------------------------------------------------------------- */


.sidebar {
  width:20%;
  background-color: #333;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #555;
}

