* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 85px;
  background-color: #e2f5fb;
  align-items: center;
}

.brand h1 {
  margin: 0;
}

.drawer {
  display: flex;
  column-gap: 28px;
  list-style: none;
}

.drawer li a {
  text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.mobile-support {
  display: none;
}

@media only screen and (max-width: 600px) {
  .drawer {
    height: 100vh;
    width: 100%;
    row-gap: 18px;
    padding-left: 90px;
    position: fixed;
    top: 70px;
    flex-direction: column;
    display: flex;
    left: -100%;
    background-color: black;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 4;
    overflow: hidden;
    transition: 0.3s;
  }
  .drawer li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  .drawer.open {
    left: 0;
  }
  
  .mobile-support {
    display: block;
  }
  .hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .hamburger-line {
    width: 100%;
    height: 3px;
    background-color: black;
  }
  
}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  

  
}

.card {
  display: flex;
  flex-wrap: wrap;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

/* margin-left: -580px  */
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;width: 100%;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #000;color: #ddd;} */

/* Start Footer  */


.footer {
  background-color: #000;
    color: #fff;
    padding-bottom: 24px;
    width: 100%;
    margin-top: auto;
}
.footer_section {
  padding: 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 12px;
  
}
.footer_list {
  width:320px;
  
}
.FOOTNAME {
  text-align: center;
}
.footer_list ul li a {
color: white;
list-style: none;
text-decoration: none;
}
.footer_list ul li {
  list-style: none;
}

/* ------------------------Start Banner---------------------------------------------- */

.banner {
  height:100vh;
    width: 100%;
    background-image: url("https://res.cloudinary.com/dsrc5z9na/image/upload/v1702224530/New_ee_bj3jjj.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_box {
  background: white;
  width: 100%;
  opacity: 0.8;
  padding: 34px;
  display: flex;
  flex-direction: column;
}

.banner_box h1 {
  font-size: 34px;
  margin: 17px 0px 22px 24px;
  text-align: center;
}

.banner_box h6 {
  font-size: 18px;
  padding: 0 0 0 23px;
  text-align: center;
  /* CONTAIN-INTRINSIC-BLOCK-SIZE: 0; */
}

.banner_button {
  padding: 19px 0 0 22px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.banner_button button {
  width: 200px;
  height: 40px;
}

.banner_button button a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}


/* ------------------ CHoose-------------------------------------------------------------------- */


.choose_field {
  background: black;
  padding: 12px;
  margin: 42px;
}

.choose_field h1 {
  color: white;
  text-align: center;
  margin: 8px 0 6px 0px;
}

.choose_center {background:black;margin: 12px;padding: 12px;display: flex;justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 24px;
}

.left_side {
  background:white;
  padding: 16px;
  color: black;
  width: 434px;
  text-align: center;

  
}

span.larage {
  font-size: 28px;
  margin: 11px 0 0 0;
}

span.meduim {
  font-size: 21px;
  margin: 6px 0 0 0;
}

span.small {
  font-size: 14px;
  color: #e07c20;
}

.left_side button {
  width: 139px;
  height: 36px;
  margin: 15px 0 18px 0;
  background:black;
  color: white;
  border: none;
}

/* ------------------------------------------------------------------------------- */

.about {
  padding: 34px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 58px;
}

.about_box {
  width: 600px;
}
.box_pack h1 {
  margin: 10px 0 14px 0;
  color:black;
}
.box_pack span{
  color: #66686b;
}

.box_pack_action {
  display: flex;
  justify-content: center;
  column-gap: 34px;
  row-gap: 34px;
  margin-top: 42px;
}

.box_pack_action button {
  width: 150px;
  background: black;
  height: 40px;
  color: white;
  font-size: 18px;
  font-family: cursive;
  border: none;
}

.box_pack_sp {
  margin-top: 24px;
}

/* ------------------------------------------------------------------------------------------- */

/* start Contact */


.wrr {
  width: 85%;
  margin: 34px 0 222px 0px;
  background: #fff;
  height: 450px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrr .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eer{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.wrr .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.wrr .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin: 10px 0 10px 0px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side .button{
  display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
    justify-content: center;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.button input[type="button"]:hover{
  background: black;
  color: white;
}
@media (max-width: 950px) {
  .wrr{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .wrr .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .wrr{
    margin: 40px 0;
    height: 100%;
  }
  .wrr .content{
    flex-direction: column-reverse;
  }
 .wrr .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .wrr .content .left-side::before{
   display: none;
 }
 .wrr .content .right-side{
   width: 100%;
   margin-left: 0;
 }

 .right-side .button{
  display: flex;
    margin-top: 18px;
    margin-bottom: 18px;
    justify-content: center;
}

}


/* ----------------------------------------------------------------------------------- */
/* start Client */



  .client {
    text-align: center;
    padding: 24px;
    margin-top: 24px;

}

.client h1 {
  margin: 18px 0 17px 0px;
}

.client span {
  font-size: 21px;
  font-family: auto;
  margin: 6px 10px 0;
}

.clients_container {
  display: flex;
  column-gap: 12px;
  row-gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 18px 0 18px;
}
.client-card img {
  width:299px;
}
.client-card{
  margin: 12px 0 12px;
}

/* --------------------------------------------------------------------------------------- */

/* blog start */

.blog-section {
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  padding: 40px 0;
}

.blog-list {
  display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    padding: 60px;
}

.blog-item {
  flex-grow: 0;
  width: 290px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 20px;
}

.blog-category {
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.blog-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}

.blog-description {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

.blog-actions {
  margin-top: 20px;
}

.learn-more {
  color: #3f51b5;
  font-weight: 500;
  text-decoration: none;
}

.learn-more-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

.likes,
.comments {
  margin-right: 10px;
  color: #999;
  font-size: 14px;
}


.heading_title {
  text-align: center;
  margin: 32px 0 32px 0;
}
.heading_title h1 {
  font-size: 42px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.hero-image {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.primary-button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------- */

/* start resume css */


.pricing-section {
  padding: 50px 0;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.section-description {
  color: #666;
  font-size: 1.2rem;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.monthly-button {
  background-color: #4F46E5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.annually-button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: 2px solid #4F46E5;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 34px;
  padding: 24px;

}

.card-content img {
  width: 300px;
  height: 380px 
}

.pricing-card {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 30px;
}
.card_center{
  display: flex;
  justify-content: center;
  margin: 18px;
  column-gap: 12px 
}
.card-content {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  position: relative;

}



.card-title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-price {
  font-size: 2.5rem;
  color: #333;
  display: flex;
  align-items: center;
}

.card-price-unit {
  font-size: 1rem;
  color: #666;
  margin-left: 5px;
}
.tox:not([dir=rtl]) .tox-statusbar__branding {
  margin-left: 2ch;
  display: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.card-feature {
  color: #666;
  margin-bottom: 10px;
}

a.card-button {
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  .dropdown-content .card a {
    text-decoration: none;
    color: #222f3e;
    font-size: 18px;
    font-weight: 600;
}}
.card-button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: auto;
  display: flex;
  align-items: center;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */

/* start signup */

/* styles.css */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.title {
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.8rem;
}

.form-container {
  width: 350px;
    margin: 48px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #374151;
}

.input-container {
  margin-top: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #374151;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2d6dc;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_head h2 {
  text-align: center;
  margin: 24px;
  font-size: 20px;
}
.password-text {
  font-size: 0.875rem;
  float: right;
}

.forgot-password {
  font-weight: 600;
  color: #4f46e5;
}

.submit-button {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: black;
  border-radius: 0.375rem;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4338ca;
}

.register-text {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
  cursor: pointer;
}

.register-link {
  font-weight: 600;
  color: #4f46e5;
  text-align: center;
}

.register-link:hover {
  color: #4338ca;
  text-align: center;
}


/* ----------------------------------------------------------------------------------------------------------------------- */

/* Blog Upload */

.blog-container {
  width: 100%;
    margin: 0 auto;
    padding: 24px 46px 24px 46px;
}

.form-group-full {
  display: flex;
  width: 100%;
  margin: auto;
  column-gap: 24px;
  padding: 24px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.file-input {
  width: 100%;
  padding: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f45d01;
}